 .u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3rem;
  width: 627px;
  text-transform: uppercase;
  margin: 122px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  width: 627px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  align-self: center;
  margin: 122px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 27.06%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 0.67% 0%;
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 484px;
}

.u-section-2 .u-text-1 {
  margin: 74px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
  min-height: 192px;
  grid-gap: 24px 24px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18px));
    min-height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 756px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 8px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3.125rem;
  font-weight: 700;
  background-image: none;
  margin: 2px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 8px auto 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-5 {
  line-height: 2;
  margin: 17px 11px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 2px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 8px auto 0;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-8 {
  line-height: 2;
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 476px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 2px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 8px auto 0;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-11 {
  line-height: 2;
  width: 202px;
  margin: 17px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 528px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 2px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 83px;
  width: 83px;
  color: rgb(0, 0, 0) !important;
  margin: 8px auto 0;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-14 {
  line-height: 2;
  margin: 15px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-text-11 {
    width: 163px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 435px;
  }

  .u-section-3 .u-text-12 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-group-1 {
  min-height: 501px;
  background-image: none;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 250px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 46px auto 0;
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  width: 634px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 44px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 48px 76px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    min-height: 515px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 170px;
    padding-right: 170px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: 440px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 320px;
  }
}